<button
  class="btn btn-primary btn-sm"
  cdkCopyToClipboard="j'ai été copié"
  [swal]="sweetWithOptions"
>
  Copier dans le clipboard
</button>
<br />
<br />
<button
  class="btn btn-primary btn-sm"
  cdkCopyToClipboard="j'ai été egalement copié"
>
  Copier dans le clipboard bis
</button>
<br />
<br />
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      class="input-group-text btn btn-success -btn-sm"
      [cdkCopyToClipboard]="animateCSScdn"
      [swal]="sweetCDN"
    >
      Copier l'url du CDN
    </button>
  </div>
  <input
    type="text"
    disabled
    [value]="animateCSScdn"
    class="form-control"
    id="basic-url"
    aria-describedby="basic-addon3"
  />
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      class="input-group-text btn btn-success -btn-sm"
      [cdkCopyToClipboard]="couponCode"
      [swal]="sweetCoupon"
    >
      copié le coupon de réduction
    </button>
  </div>
  <input
    type="text"
    disabled
    [value]="couponCode"
    class="form-control"
    id="coupon"
    aria-describedby="basic-addon3"
  />
</div>
<br />
<br />
<textarea
  name=""
  id=""
  cols="30"
  rows="10"
  (input)="onValueInput($event)"
></textarea>
<button class="btn btn-primary btn-sm" (click)="copy()">
  copier le texte dans le presse papier
</button>
<swal
  #sweetCDN
  title="URL copiée dans le presse papier"
  text="happy coding !"
  icon="success"
></swal>
<br />
<swal
  #sweetCoupon
  title="coupon {{ couponCode }} dans le presse papié"
  text="bon de réduction"
  icon="success"
></swal>

<swal
  #sweetWithOptions
  [swalOptions]="{
    title: 'Custom animation grâce a Animate.css',
    showClass: {
      popup: 'animate__animated animate__fadeInDown'
    },
    hideClass: {
      popup: 'animate__animated animate__fadeOutUp'
    },
    confirmButtonText: 'en plus le texte du bouton est personalisé'
  }"
></swal>
<router-outlet></router-outlet>
